﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TicketReport.aspx.vb" Inherits="SprReports_TicketReport" MasterPageFile="~/MasterPageForDash.master" Title="" %>

<%@ Register Src="~/UserControl/LeftMenu.ascx" TagPrefix="uc1" TagName="LeftMenu" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <link href="<%=ResolveUrl("~/CSS/PopupStyle.css?V=1")%>" rel="stylesheet" type="text/css" />
    <link type="text/css" href="<%=ResolveUrl("~/Styles/jquery-ui-1.8.8.custom.css") %>" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/Styles/jAlertCss.css")%>" rel="stylesheet" />

    <script src="<%=ResolveUrl("~/Scripts/ReissueRefund.js?v=1")%>" type="text/javascript"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/PopupScript.js?V=1")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/ScriptsPNRCancellation/CancelPNR.js")%>"></script>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/Flight/jquery.blockUI.js")%>"></script>


    <link type="text/css" href="<%=ResolveUrl("~/Content/Popup.css")%>" rel="stylesheet" />
    <link type="text/css" href="<%=ResolveUrl("~/Content/CancelPNR.css")%>" rel="stylesheet" />
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/gridview-readonly-script.js")%>"></script>


    <style type="text/css">
        .HeaderStyle th {
            white-space: nowrap;
        }
    </style>


    <style type="text/css">
        a, p, li, td, span {
            font-size: 12.5px !important;
        }
    </style>




    <style type="text/css">
        .page-wrapperss {
            background-color: #fff;
            margin-left: 15px;
        }

        .table {
            vertical-align: top;
            max-width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            border-collapse: collapse;
            border-spacing: 0;
            width: 367px !important;
        }

        td {
            font-size: 11px !important;
        }

        .overfl {
            overflow: auto;
        }

        .tooltip1 {
            position: relative;
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        #tooltip {
            z-index: 9999;
            position: absolute;
            top: 200px;
            float: right;
            padding: 5px;
            right: 280px;
            border: 2px solid #04034f;
            background-color: #fff;
            width: auto;
            min-width: 300px;
        }

        .table .table {
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
        }

        .popupnew2 {
            position: absolute;
            top: 10px;
            left: 7%;
            width: 900PX;
            height: 500px !important;
            z-index: 1;
            box-shadow: 0px 5px 5px #f3f3f3;
            border: 2px solid #004b91;
            background-color: #fff;
            background-color: #ffffff !important;
            padding: 10px 20px;
            overflow-x: hidden;
        }

        .hovercolor {
            font-weight: bold;
            color: #004b91;
            font-size: 11px;
        }

        .vew321 {
            background-color: #fff;
            width: 75%;
            float: right;
            padding: 5px 10px;
            text-align: justify;
            height: 300px;
            overflow-x: auto !important;
            overflow-y: auto !important;
            z-index: 1;
            position: fixed;
            top: 100px;
            left: 20%;
            border: 5px solid #d1d1d1;
        }
    </style>







    <div class="container">
        <div class="card-header">
            <div class="col-md-10">
                <h3 style="text-align: center; color: orange">Booking History</h3>
                <hr style="height: 3px; background: orange" />
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-10">

                <%--<div class="large-8 medium-8 small-12 columns">--%>



                <div class="row">
                    <div class="col-md-3">
                        <label>From</label>
                        <input type="text" name="From" id="From" placeholder="Select Date" class="form-control" readonly="readonly" />
                    </div>
                    <div class="col-md-3">
                        <label>To</label>
                        <input type="text" name="To" placeholder="Select Date" id="To" class="form-control" readonly="readonly" />
                    </div>
                    <div class="col-md-3">
                        <label>PNR</label>
                        <asp:TextBox ID="txt_PNR" placeholder="Enter PNR" class="form-control" runat="server"></asp:TextBox>
                    </div>
                    <div class="col-md-3">
                        <label>Order Id</label>
                        <asp:TextBox ID="txt_OrderId" placeholder="Enter Order Id" class="form-control" runat="server"></asp:TextBox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Pax Name</label>
                        <asp:TextBox ID="txt_PaxName" placeholder="Enter Pax Name" class="form-control" runat="server"></asp:TextBox>
                    </div>
                    <div class="col-md-3">
                        <label>Ticket No.</label>
                        <asp:TextBox ID="txt_TktNo" placeholder="Enter TicketNo" class="form-control" runat="server"></asp:TextBox>
                    </div>
                    <div class="col-md-3">
                        <label>Airline</label>
                        <asp:TextBox ID="txt_AirPNR" placeholder="Enter Airline" class="form-control" runat="server"></asp:TextBox>
                    </div>
                    <div class="col-md-3" id="tdTripNonExec2" runat="server">
                        <label>Trip Type</label>
                        <asp:DropDownList class="form-control" ID="ddlTripDomIntl" runat="server">
                            <asp:ListItem Value="">-----Select-----</asp:ListItem>
                            <asp:ListItem Value="D">Domestic</asp:ListItem>
                            <asp:ListItem Value="I">International</asp:ListItem>
                        </asp:DropDownList>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3" id="td_Agency" runat="server">
                        <label>Agency Name/ID</label>
                        <input type="text" class="form-control" id="txtAgencyName" placeholder="Enter Agency Name or ID" name="txtAgencyName" onfocus="focusObj(this);"
                            onblur="blurObj(this);" defvalue="Agency Name or ID" autocomplete="off" />
                        <input type="hidden" id="hidtxtAgencyName" name="hidtxtAgencyName" value="" />
                    </div>
                    <div class="col-md-4">
                        <asp:Button ID="btn_result" runat="server" class="btn btn-danger" Text="Search Result" />
                        <asp:Button ID="btn_export" runat="server" class="btn btn-danger" Text="Export" />
                    </div>
                </div>




                <br />
                <div class="row">
                    <%-- <div class="col-md-4">
            </div>--%>
                    <div class="col-md-3">
                        <label style="background: #000; color: #fff; border-radius: 4px; padding: 2px 9px; display: none;">
                            Total Ticket Sale :
                                    <span class="fa fa-inr"></span>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <label style="background: #000; color: #fff; border-radius: 4px; padding: 2px 9px; margin-left: -35px; float: right;">
                            Booking Summary :
                              <span class="fa fa-inr"></span>
                            <asp:Label ID="lbl_Total" runat="server"></asp:Label>
                            (<asp:Label ID="lbl_counttkt" runat="server"></asp:Label>)</label>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>


    <div id="toPopupReport" class="tbltbl large-12 medium-12 small-12">
        <div class="close">
        </div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
        <div id="popup_content">
            <!--your content start-->
            <table border="0" cellpadding="10" cellspacing="5" style="font-family: arial, Helvetica, sans-serif; width: 100%; font-size: 12px; font-weight: normal; font-style: normal; color: #000000">
                <tr>
                    <td>
                        <b>PNR :</b> <span id="PNR"></span>
                        <input id="txtPNRNO" name="txtPNRNO" type="hidden" />
                    </td>
                    <td id="TktNoInfo" style="display: none;">
                        <b>Ticket No:</b> <span id="TktNo"></span>
                    </td>
                </tr>
                <tr>
                    <td style="display: none;" id="PaxnameInfoResu">
                        <b>PAX NAME :</b> <span id="Paxname"></span>
                    </td>
                    <td style="display: none;" id="PaxnameInfoRefnd">
                        <div id="Refunddtldata" class="large-12 medium-12 small-12"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>
                            <span id="RemarksTypetext"></span>Remark 
                        </b>
                        <input id="RemarksType" name="RemarksType" type="hidden" />

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="txtRemark" name="txtRemark" cols="56" rows="2" style="border: thin solid #eee; width: 100%;"></textarea>
                    </td>
                </tr>
                <tr id="trCancelledBy" visible="false">
                    <td>
                        <b>Cancelled By:</b>
                    </td>
                    <td>
                        <asp:DropDownList ID="DrpCancelledBy" CssClass="drop" runat="server">
                        </asp:DropDownList>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 20%; padding-top: 10px; margin-left: 40%; text-align: center;">
                            <asp:Button ID="btnRemark" runat="server" Text="Submit" CssClass="btn btn-danger" />
                            <input id="txtPaxid" name="txtPaxid" type="hidden" />
                            <input id="txtPaxType" name="txtPaxType" type="hidden" />
                            <input id="txtSectorid" name="txtSectorid" type="hidden" />
                            <input id="txtOrderid" name="txtOrderid" type="hidden" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--your content end-->
    </div>




    <div class="clear1"></div>
    <div class="loader">
    </div>
    <div id="backgroundPopup">
    </div>

    <div class="clear"></div>
    <div id="divReport" runat="server" visible="false" class="table-responsive">
        <%-- style="height:200px;overflow:scroll;"--%>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <asp:GridView ID="ticket_grdview" runat="server" AllowPaging="True" AllowSorting="True" OnRowDataBound="ticket_grdview_RowDataBound"
                    AutoGenerateColumns="False" CssClass="rtable" GridLines="None" Font-Size="12px" PageSize="30">
                    <Columns>
                        <asp:TemplateField HeaderText="Airline">
                            <ItemTemplate>
                                <img src="https://richatravels.in/AirLogo/sm<%#Eval("VC")%>.gif" style="border: 1px solid #000; border-radius: 20px;" />
                                <asp:Label ID="VC" runat="server" Text='<%#Eval("VC")%>' Visible="false"></asp:Label>
                                <asp:Label ID="countFound" Visible="false" runat="server" Text='<%#Eval("countFound")%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Order ID / Print" Visible="True">
                            <ItemTemplate>
                                <a href='BookingSummary.aspx?OrderId=<%#Eval("OrderId")%> &TransID=' rel="lyteframe"
                                    rev="width: 900px; height: 500px; overflow:hidden;" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #004b91">
                                    <asp:Label ID="OrderID" runat="server" Text='<%#Eval("OrderId")%>'></asp:Label></a>
                            </ItemTemplate>
                        </asp:TemplateField>
						 <asp:TemplateField HeaderText="Pax Name">
                            <ItemTemplate>
                                <asp:Label ID="PaxFNAme" class="gridViewToolTip hovercolor" runat="server" Text='<%#Eval("FName") + " " + Eval("LName")%>'></asp:Label>
                                <div id="tooltip" style="display: none;">
                                    <div>
                                        <table width="100%" cellpadding="11" cellspacing="11" border="0" class="table table-border" style="border: 1px solid #ccc; margin-top: 6px;">
                                            <tr>
                                                <td style="width: 110px; font-weight: bold;"></td>
                                                <td style="width: 166px;">Pax Details
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 110px; font-weight: bold;">Pax Name
                                                </td>
                                                <td style="width: 166px;">
                                                    <%#Eval("FName")%>&nbsp; <%#Eval("LName")%>
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td style="width: 110px; font-weight: bold;">Email:
                                                </td>
                                                <td style="width: 166px;">
                                                     <asp:Label ID="LBLPgEmail" runat="server" Text='<%#Eval("PgEmail")%>'></asp:Label>                                                   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 110px; font-weight: bold;">Mobile:
                                                </td>
                                                <td style="width: 166px;">
                                                    <%#Eval("PgMobile")%>  
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <%-- <asp:Label ID="PaxLName" runat="server" Text='<%#Eval("LName")%>'></asp:Label>--%>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField HeaderText="Pnr" DataField="GdsPnr"></asp:BoundField>
						 <asp:BoundField HeaderText="Sector" DataField="sector"></asp:BoundField>                     
                        <asp:TemplateField HeaderText="Reissue">
                            <ItemTemplate>
                                <asp:LinkButton ID="lnkreissue" runat="server" Font-Strikeout="False" Font-Overline="False"
                                    CommandArgument='<%#Eval("PaxId") %>' CommandName='REISSUE' OnClick="lnkreissue_Click"
                                    ToolTip="Reissue Request">Reissue                                               
                                </asp:LinkButton>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Cancel">
                            <ItemTemplate>
                                <asp:LinkButton ID="lnkrefund" runat="server" Font-Strikeout="False" Font-Overline="False"
                                    CommandArgument='<%#Eval("PaxId") %>' CommandName='REFUND' OnClick="lnkrefund_Click"
                                    ToolTip="Refund Request">Cancel                                              
                                </asp:LinkButton>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="CancelOnline" Visible="false">
                            <ItemTemplate>
                                <asp:LinkButton ID="btnOnlineCanc" runat="server" Font-Strikeout="False" Font-Overline="False"
                                    orderid='<%#Eval("OrderId") %>'
                                    CssClass="topbutton topopup edit btnContinue">Cancel Online                           
                                </asp:LinkButton>

                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Provider" Visible="false">
                            <ItemTemplate>
                                <asp:Label ID="lblProvider" runat="server" Text='<%#Eval("Provider")%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>                    
                       
                        <asp:BoundField HeaderText="Gross Fare" DataField="TotalFare"> </asp:BoundField>
                        <asp:BoundField HeaderText="Net Fare" DataField="TotalAfterDis">
                            <ItemStyle HorizontalAlign="center"></ItemStyle>
                        </asp:BoundField>
                        <asp:BoundField HeaderText="Booking Date" DataField="CreateDate"></asp:BoundField>
                        <asp:BoundField HeaderText="Journey Date" DataField="JourneyDate"></asp:BoundField>
                        <asp:TemplateField HeaderText="Partner Name" Visible="false">
                            <ItemTemplate>
                                <asp:Label ID="PartnerName" runat="server" Text='<%#Eval("PartnerName")%>' Visible='<%# GetVisibleStatus() %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Booked by">
                            <ItemTemplate>
                                <asp:Label ID="ExcutiveID" runat="server" Text='<%#Eval("ExecutiveId")%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Payment Mode" Visible="false">
                            <ItemTemplate>
                                <asp:Label ID="PaymentMode" runat="server" Text='<%#Eval("PaymentMode")%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="PGCharges" Visible="false">
                            <ItemTemplate>
                                <asp:Label ID="lblPGCharges" runat="server" Text='<%#Eval("PGCharges")%>' Visible='<%# GetVisibleStatus() %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>

                    </Columns>



                </asp:GridView>
            </ContentTemplate>
        </asp:UpdatePanel>
        <asp:UpdateProgress ID="updateprogress" runat="server" AssociatedUpdatePanelID="UpdatePanel1">
            <ProgressTemplate>
                <div style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=50); opacity: 0.5; z-index: 1000;">
                </div>
                <div style="position: fixed; top: 30%; left: 43%; padding: 10px; width: 20%; text-align: center; z-index: 1001; background-color: #fff; border: solid 1px #000; font-size: 12px; font-weight: bold; color: #000000">
                    Please Wait....<br />
                    <br />
                    <img alt="loading" src="<%= ResolveUrl("~/images/loadingAnim.gif")%>" />
                    <br />
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>





        <%--</div>--%>
    </div>
    <div class="fade" title="1apiUKNRMLITZNRML_O" style="display: none;">
        <div class="depcity">
            <div style="width: 98%; margin: 1%; padding: 2%; position: fixed; top: 20%; background: #f9f9f9; box-shadow: 0px 0px 4px #333;">
                <div class="close1" style="cursor: pointer; float: right; position: relative; top: 2px; right: 3px; font-size: 20px">
                    X
                </div>
                <div class="large-12 medium-12 small-12 bld">
                    Fare Rule
                </div>
                <div id="FruleTExt" style="overflow-y: scroll; height: 250px;">
                    fare rule not available.
                </div>
            </div>
        </div>
    </div>

    <div id="HourDeparturePopup">
        <div class="close11">
        </div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
        <div class="HourDeparturepopup_content">

            <div class="col-md-12">
                <div class="clear"></div>
                <div class="col-md-12">Click “OK” to proceed for offline request.</div>
                <div class="clear"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2 button  buttonfltbkss btnokReport">OK</div>
                <input id="txtPaxid_4HourDeparture" name="txtPaxid_4HourDeparture" type="hidden" />
            </div>

        </div>
    </div>



    <%-- <div id="SourceView"></div>--%>
    <div id="waitMessagefc" style="display: none">
        <div class="wait_New w40 center">
            <div class="clear1"></div>
            <h3>We are processing your request. Please wait....</h3>
            <div class="clear"></div>
            <img alt="loading" width="50" height="50" src="../images/loadingAnim.gif">
            <div class="clear"></div>
            <div id="searchquery" style="padding-top: 15px">
            </div>
            <div class="clear"></div>
            <span class="f10">Please do not close or refresh this window.</span>
            <div class="clear1"></div>
        </div>
    </div>

    <div id="toPopup" style="background: none repeat scroll 0 0 #FFFFFF; border: 0px solid #ccc!important; border-radius: 5px 5px 5px 5px; color: #333333; display: none; font-size: 14px; left: 55%; margin-left: -502px; position: fixed; top: 20%; width: 950px; height: 450px; overflow: auto; z-index: 2;">
        <div class="close"></div>
        <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
        <div id="popup_content w100">

            <div id="SourceView"></div>
        </div>
    </div>
    <input type="hidden" id="objModel" name="objModel" />
    <br />
    <%--  <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-1.4.4.min.js") %>"></script>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/jquery-ui-1.8.8.custom.min.js")%>"></script>--%>

    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/AgencySearch.js") %>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/Scripts/alert.js")%>"></script>
    <script type="text/javascript">
        function validate() {
            if (confirm("Are you sure you want to change status to hold!")) {
                return true;
            } else {
                return false;
            }
        }
        function closethis() {
            $("#outerdiv").hide();
        }

        $(function () {
            InitializeToolTip();
        });
    </script>
</asp:Content>

