﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="false" CodeFile="Resetpassword.aspx.vb" Inherits="STG_TAG_Resetpassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div  style="margin:200px;">
        Email Id
    </div>
     <div >
        <asp:TextBox runat="server" CssClass="search-text" ID="Textmail"></asp:TextBox>
    </div>
    <div>
        <asp:Button CssClass="btn-lg buttonfltbk" ID="btnsubpass" runat="server" Width="20%"  Text="Submit"/>
    </div>
</asp:Content>

