﻿.new-fare-details {
    width: 100%;
    font-size: 12px;
    padding: 12px 0;
    float: left;
    margin: 0px;
}

.new-fare-d-1 {
    width: 35%;
    padding: 0px;
    float: left;
    margin: 0;
    border: 1px solid #d9d9d9;
    display: table;
    font-size: 13px;
    font-weight: 600;
}

.nw-b2b-fared {
    margin: 0px;
    padding: 0px 0px 5px;
    float: left;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}

.nw-pad-b2 {
    padding: 10px;
    float: left;
    width: 92%;
}
.nw-far-1 {
    margin: 0px;
    padding: 0px;
    width: 58%;
    font-weight: 600;
    float: left;
}

.nw-far-2 {
    margin: 0px;
    padding: 0px;
    width: 40%;
    float: right;
    text-align: right;
}

.nw-b2b-fared {
    margin: 0px;
    padding: 0px 0px 5px;
    float: left;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}

.can-bnew-rg {
    width: 60%;
    float: right;
    margin: 0px;
    padding: 0px;
}

.can-b2b-tr {
    width: 100%;
    margin: 0 0;
    padding: 0px;
    float: left;
}

.lef-b2b-cane {
    width: 48%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.b2b-ca-char {
    width: 100%;
    padding: 0 0 6px;
    font-size: 12px;
    font-weight: 600;
}

.b2b-can-tabe {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    float: left;
    background: #fff;
}

.rig-b2b-cane {
    width: 48%;
    padding: 0px;
    margin: 0px;
    float: right;
}

.tr-b2b-cancgr {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0 0 0;
}

.trm-had {
    margin: 0px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.terms-b2b2-cancahe {
    font-size: 10px;
    color: #000;
    padding: 0;
    height: 67px;
    overflow-x: hidden;
}








    .nav li {
        display: inline-block;
        list-style: none;
    }

    .nav .button-dropdown {
        position: relative;
    }

.nav li a {
    display: block;
    color: #fff;
    background-color: #ff2323;
    padding: 7px 16px;
    text-decoration: none;
    border: 1px solid #d48a04;
    border-radius: 5px;
    margin-top: -10px;
}

        .nav li a span {
            display: inline-block;
            margin-left: 5px;
            font-size: 10px;
            color: #fff;
        }

        .nav li a:hover, .nav li a.dropdown-toggle.active {
            background-color: #289dcc;
            color: #fff;
        }

            .nav li a:hover span, .nav li a.dropdown-toggle.active span {
                color: #fff;
            }

    .nav li .dropdown-menu {
        display: none;
        position: absolute;
        left: 0;
        padding: 15px;
        margin: 0;
        margin-top: 3px;
        text-align: left;
    }

        .nav li .dropdown-menu.active {
            display: block;
        }

        .nav li .dropdown-menu a {
            width: 150px;
            margin-bottom: 15px;
        }






.wrapper {
    color: #555;
    cursor: help;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip-content {
    background: #005999;
    /*font-size: 14px;*/
    font-weight: 100;
    bottom: 100%;
    color: #fff;
    display: block;
    /*line-height: 2px;*/
    left: -128px;
    /*top: -45px;*/
    margin-bottom: 8px;
    opacity: 0;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    width: 153%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper .tooltip-content:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper .tooltip-content:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 69%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }

.wrapper:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip-content {
    display: none;
}

.lte8 .wrapper:hover .tooltip-content {
    display: block;
}





.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    font-size: 20px;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper-1 .tooltip-content-1 {
    width: 220%;
    position: absolute;
    /* bottom: 100%; */
    margin: 0 0 7px 0;
    /*padding: 15px;*/
    font-weight: normal;
    font-style: normal;
    text-align: CENTER;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    cursor: default;
    display: block;
    /* visibility: hidden; */
    color: #fff;
    background: #005999;
    padding: 7px;
    opacity: 0;
    left: -118px;
    z-index: 999;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper-1 .tooltip-content-1:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper-1 .tooltip-content-1:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 68%;
        /* margin-left: -13px; */
        position: absolute;
        width: 0;
        top: -10px;
        transform: rotate(180deg);
    }

.wrapper-1:hover .tooltip-content-1 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper-1 .tooltip-content-1 {
    display: none;
}

.lte8 .wrapper-1:hover .tooltip-content-1 {
    display: block;
}





.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    font-size: 20px;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper-2 .tooltip-content-2 {
    background: #005999;
    /*font-size: 14px;*/
    font-weight: 100;
    bottom: 100%;
    color: #fff;
    display: block;
    line-height: 2px;
    left: -64px;
    top: -50px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 176%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper-2 .tooltip-content-2:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper-2 .tooltip-content-2:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 69%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }

.wrapper-2:hover .tooltip-content-2 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper-2 .tooltip-content-2 {
    display: none;
}

.lte8 .wrapper-2:hover .tooltip-content-2 {
    display: block;
}




/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell

            
*/
body {
    background: #e6e6e6;
}



.rtable {
    /*display: inline-block;*/
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    width: 736px;
}

.rtable,
.rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

    .rtable td:first-child,
    .rtable--flip tbody tr:first-child {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }

    .rtable td:last-child,
    .rtable--flip tbody tr:last-child {
        background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #0952a4 !important;
        color: #fff;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

td {
    font-size: 12.5px;
}

.rtable--flip {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    background: none;
}

    .rtable--flip thead {
        display: -webkit-box;
        display: flex;
        flex-shrink: 0;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    }

    .rtable--flip tbody {
        display: -webkit-box;
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rtable--flip tr {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        flex-shrink: 0;
    }

    .rtable--flip td,
    .rtable--flip th {
        display: block;
    }

    .rtable--flip td {
        background-image: none !important;
        border-left: 0;
    }

        .rtable--flip th:not(:last-child),
        .rtable--flip td:not(:last-child) {
            border-bottom: 0;
        }

/*!
// CodePen house keeping
*/
/*body {
            margin: 0;
            padding: 25px;
            color: #494b4d;
            font-size: 14px;
            line-height: 20px;
        }*/

h1, h2, h3 {
    /*margin: 0 0 10px 0;*/
    color: #1d97bf;
}

h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

table {
    margin-bottom: 30px;
    background: #fff !important;
}

a {
    color: #ff6680;
}

code {
    background: #fffbcc;
    font-size: 12px;
}






input[type=checkbox] {
    margin-top: 7px;
}

body {
    overflow-x: hidden;
}




.fltkun {
    position: relative;
    top: -17px;
    float: left;
    right: 571px;
    width: 501px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 655px !important;
        width: 501px;
    }
}


@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 735px !important;
        width: 501px;
    }
}

@media only screen and (min-device-width: 1360px) and (max-device-width: 1439px) {

    .fltkun {
        position: relative;
        top: -17px;
        float: left;
        right: 615px !important;
        width: 501px;
    }
}


.fltkun2 {
    position: relative;
    top: 10px;
    float: left;
    right: 94%;
    width: 460px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun2 {
        position: relative;
        top: 10px;
        float: left;
        right: 99% !important;
        width: 460px;
    }
}


@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun2 {
        position: relative;
        top: 10px;
        float: left;
        right: 109% !important;
        width: 460px;
    }
}


.fltkun3 {
    position: relative;
    top: 10px;
    float: left;
    right: 94%;
    width: 460px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

    .fltkun3 {
        position: relative;
        top: 10px;
        float: left;
        right: 89% !important;
        width: 460px;
    }
}




@media only screen and (min-device-width: 1600px) and (max-device-width: 1919px) {

    .fltkun3 {
        position: relative;
        top: 10px;
        float: left;
        right: 100% !important;
        width: 460px;
    }
}





.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    width: 100px;
    color: #FFF;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loading span {
    position: absolute;
    height: 10px;
    width: 84px;
    top: 50px;
    overflow: hidden;
}

    .loading span > i {
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        -webkit-animation: wait 4s infinite;
        -moz-animation: wait 4s infinite;
        -o-animation: wait 4s infinite;
        animation: wait 4s infinite;
    }

        .loading span > i:nth-of-type(1) {
            left: -28px;
            background: yellow;
        }

        .loading span > i:nth-of-type(2) {
            left: -21px;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
            background: lightgreen;
        }

@-webkit-keyframes wait {
    0% {
        left: -7px
    }

    30% {
        left: 52px
    }

    60% {
        left: 22px
    }

    100% {
        left: 100px
    }
}

@-moz-keyframes wait {
    0% {
        left: -7px
    }

    30% {
        left: 52px
    }

    60% {
        left: 22px
    }

    100% {
        left: 100px
    }
}

@-o-keyframes wait {
    0% {
        left: -7px
    }

    30% {
        left: 52px
    }

    60% {
        left: 22px
    }

    100% {
        left: 100px
    }
}

@keyframes wait {
    0% {
        left: -7px
    }

    30% {
        left: 52px
    }

    60% {
        left: 22px
    }

    100% {
        left: 100px
    }
}






.animation {
    box-shadow: 0 0 10rem 0 #000000;
}

body {
    /*box-shadow: 0 0 10rem 0 #000000 inset;*/
}

html, body {
    width: 100%;
    height: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    background-color: #1D1F20;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

    footer span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }

a {
    text-decoration: none;
    color: #FFA500;
}

    a:hover {
        text-decoration: underline;
    }



@keyframes loader {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes takeOff {
    0% {
        transform: translate(-220%, 110%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes takeOffShadow {
    0% {
        transform: translate(-440%, 110%);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

@keyframes flight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 10%);
    }

    75% {
        transform: translate(0, -10%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flightShadow {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    25% {
        transform: scale(0.9);
        opacity: 1;
    }

    75% {
        transform: scale(1.1);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes cloudFront {
    0% {
        transform: translate(520%, 0);
    }

    100% {
        transform: translate(-600%, 0);
    }
}

@keyframes cloudMiddle {
    0% {
        transform: translate(230%, 0);
    }

    100% {
        transform: translate(-900%, 0);
    }
}

@keyframes cloudBack {
    0% {
        transform: translate(910%, 0);
    }

    100% {
        transform: translate(-1000%, 0);
    }
}

@keyframes sky {
    0% {
        background-color: #ffffff;
    }

    20% {
        background-color: #ffffff;
    }

    35% {
        background-color: #ffc8bd;
    }

    50% {
        background-color: transparent;
    }

    70% {
        background-color: transparent;
    }

    85% {
        background-color: #ffc8bd;
    }

    100% {
        background-color: #ffffff;
    }
}







.blob {
    width: 2rem;
    height: 2rem;
    background: rgb(255, 165, 0);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    -webkit-animation: animate-to-2 1.5s infinite;
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    -webkit-animation: animate-to-3 1.5s infinite;
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    -webkit-animation: animate-to-1 1.5s infinite;
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    -webkit-animation: animate-to-4 1.5s infinite;
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    -webkit-animation: animate-to-0 1.5s infinite;
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    -webkit-animation: animate-to-5 1.5s infinite;
    animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}





.flt-dur {
    width: 92%;
    margin: 7px auto;
    font-size: 16px;
    position: relative;
}

.flt-dur:before {
    content: "";
    border-bottom: 1px solid #a5a4a4;
    width: 100%;
    display: inline-block;
    margin-bottom: 3px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    left: -3px;
    position: absolute;
    background: #a5a4a4;
}

.dot-plan {
    margin: -10px auto;
    padding: 0px;
    width: 10%;
    background: #fff;
}

.dot2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    right: -1px;
    position: absolute;
    background: #a5a4a4;
}






label {
    /*color: orange;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    /*margin: 50px auto;*/
    height: 119px;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #0952a4;
    color: #a5a4a4;
    /*font-weight: bold;*/
}

td, th {
    padding: 2px;
    border: 1px solid #ccc;
    text-align: left;
    /*font-size: 18px;*/
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }


    table, thead, tbody, th, td, tr {
        display: block;
        padding: inherit;
    }


        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-column);
            color: #000;
            font-weight: bold;
        }
}





.plane_dep {
    background: url("../Images/icons/flight_dep.png") no-repeat top left;
}

.plane_dep {
    background-position: 0 0;
    width: 32px;
    height: 32px;
}






#flterTab {
    padding-left: 0px !important;
}

input[type=checkbox] {
    margin-top: 7px;
}

body {
    font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
    /* Float the list items side by side */
    ul.tab li {
        float: left;
        display: inline;
    }
        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }
            /* Change background color of links on hover */
            ul.tab li a:hover {
                background-color: #ddd;
            }
            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {
                /*background-color: #ccc;*/
            }

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.des-nav {
    z-index: 999;
    position: fixed;
    top: 135px;
    left: 21.5%;
    font-size: 13px;
    width: 76%;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    border-top: none;
}




#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #353535;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    overflow: visible !important;
}





#panel1, #flip1 {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel1 {
    padding: 50px;
    display: none;
    overflow: visible !important;
}





#flight, #flt {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel {
    padding: 50px;
    display: none;
}




.check {
    opacity: 0.5;
    color: #996;
}





@import url(https://fonts.googleapis.com/css?family=Lobster);

@-webkit-keyframes fly {
    to

{
    transform: rotate(180deg);
}

}

@-webkit-keyframes shadow {
    from {
        text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    to {
        text-shadow: 4px 0 0 rgba(0, 0, 0, 0.2);
    }
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 220px;
    margin: -110px 0 0 -200px;
    /*background: linear-gradient(skyblue, steelblue);*/
    border-radius: 8px;
    text-align: center;
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
}

    #loader:before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: -180px;
        left: 20px;
        border-radius: 50%;
        border: 1.8px dashed rgba(255, 255, 255, 0.75);
    }

#plane {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 44px;
    transform-origin: 200px 20px;
    -webkit-animation: fly 5s infinite linear;
}

    #plane i {
        margin: 4px 0 0 2px;
        transform: rotate(-45deg);
        -webkit-animation: shadow 5s infinite linear;
    }

#loader p {
    margin-top: 120px;
    line-height: 32px;
    font-family: 'Lobster', sans-serif;
    font-size: 72px;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}





.scroll-container:hover, .scroll-container:focus {
    overflow-y: auto;
}

.scroll-container {
/*    width: 167px;
    height: 75px;
    overflow: hidden;*/
}


    .scroll-container1:hover, .scroll-container:focus {
        overflow-y: auto;
    }

.scroll-container1 {
    height: 138px;
    overflow: hidden;
    z-index: 800;
}

#some-element {
    
    display: none;
   
}

#some-div:hover #some-element {
    display: block;
}


#some-element1 {
    display: none;
}

#some-div1:hover #some-element1 {
    display: block;
}