﻿.clspaxdtls {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
     cursor:pointer;
    background-color: #ececec;
    color: #424242;
    height: 30px;
    padding: 5px 10px 5px 10px;
    margin-left: 0px;
    border-bottom-right-radius: 0px;
}
.paxselected {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
     cursor:pointer;
    background-color: #69be28;
    color: #fff;
    height: 30px;
    padding: 5px 10px 5px 10px;
    margin-left: 0px;
    border-bottom-right-radius: 0px;
}

.rightContent{
    text-align:left;
    font-size: 1.9em;
    color: #444;
    margin: 20px 0 55px 0;
        padding: 10px;
    letter-spacing: 0;
    font-weight: normal;
}
.fltselected {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #69be28;
    color: #fff;
    padding: 11px;
    cursor:pointer;
}
/*.clsorgdest {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor:pointer;
     
  
    padding: 11px;
}*/

.clsorgdest {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    padding: 7px 5px 5px 5px;
}
.fltnone {
    display:none;
}
.lftgreen {
    height: 50px;
    margin-bottom: 10px;
}

.lftgreen > a {
    width: 100%;
    height: 34px;
    padding: 15px 5px 15px 5px;
    margin-left: 3px;
    cursor:pointer;
    border-bottom: 1px solid #ccc;
}

#SeatSource {

}

.texthead {
    font-size: 16px;
    text-align: center;
    color: #424242;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 29px;
}


.textheads {
    font-size: 20px;
    padding-left:10px;
    text-align: left;
    color: #108bd4;
    height: 32px;
    padding-top: 8px;
}

.texthe {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    text-align: justify;
    color: #3366FF;
    padding-left: 30px;
    padding-right: 30px;
    width: 92%;
    position: absolute;
    top: 45%;
    left: 00%;
    height: auto;
    padding-top: 8px;
}

.flightSeatMap {
  
    border-collapse: separate;
    border-spacing: 3px;
    background: #f9f9f9;
    padding: 0px 0px 0px 0px;
    border-radius: 12em 0em 0em 12em;
    -webkit-box-shadow: inset 20px 0px 10px #fff;
    box-shadow: inset 20px 0px 10px #fff;
}

.vListContainer {
    background-color: #fafafa;
    height: 500px;
    overflow: hidden;
}



.front {
    position: relative;
right: 0;
left: 54%;
top: 44%;

}

#toPopup {
    
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px solid #ccc!important;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 55%;
    margin-left: -502px;
    position: fixed;
    top: 20%;
    width: 850px;
    height: 500px;
    z-index: 2;
}


.rear {
    position: relative;
    right: 0;
    left: 0;
    top: 45%;
     
    padding-left: 33px;
}

.pricetbs {
    list-style:none;
    padding:10px;
}

.pricetbs > li {
    font-size: 11px;
    padding: 10px 3px 10px 3px;
    vertical-align: top;
}
    .pricetbs > li > a {
         vertical-align: top;

    }

.selectbtns {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    width: auto;
    overflow: visible;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    text-shadow: none;
    border: none;
    color: #3366CC;
    background-color: #F4F5FA;
    border: 1px solid #8FAAE0;
    font-size: 13px;
    border-radius: 3px;
    margin-bottom:10px;
    padding: 3px 8px;
    white-space: nowrap;
    vertical-align: middle;*/
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    color: #2196F3;
    padding: 0 14px;
    float: right;
    font-size: 14px;
    border: 1px solid #2196F3;
    height: 35px;
    line-height: 33px;
    font-weight: 600;
    margin: 5px 0 5px 0;
}
  
   .SELECTED{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#40cb00 !Important;
    cursor:pointer;
}
   .OCCUPIED {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    background-position: left top;
        padding: 6px 14px 5px 10px;
    background-repeat:no-repeat;
    background-color: #aaaaaa;
     cursor:pointer;
    
}
   .PRICE_0{
        background-image:url(../Images/Seat/seat_icons2.png);
        height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color:#f8f8f8;
    cursor:pointer;
   
}
   .PRICE_50{
        background-image:url(../Images/Seat/seat_icons2.png);
        height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color:#f2ba46;
    cursor:pointer;
   
}
   .PRICE_99{
        background-image:url(../Images/Seat/seat_icons2.png);
        height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color:#f2deed;
    cursor:pointer;
   
}
   .PRICE_100{
        background-image:url(../Images/Seat/seat_icons2.png);
        height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color:#e4b2d7;
    cursor:pointer;
   
}
   .PRICE_125{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#e96ac8;
     cursor:pointer;
}
   .PRICE_150{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#ba429b;
    cursor:pointer;
}
   .PRICE_200{
    background-image:url(../Images/Seat/seat_icons2.png);
       height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat:no-repeat;
    background-color:#d0d7ee;
   cursor:pointer;
}
   .PRICE_250{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#78145e;
     cursor:pointer;
}
   .PRICE_300{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#86b5dc;
    cursor:pointer;
}
   .PRICE_350{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#3675a9;
    cursor:pointer;
}
   .PRICE_400{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#e88383;
    cursor:pointer;
}
   .PRICE_450{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#a15151;
    cursor:pointer;
}
   .PRICE_500{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#ae3e3e;
    cursor:pointer;
}
   .PRICE_550{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
        padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#9d7c7c;
    cursor:pointer;
}
   .PRICE_600{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#005587;
     cursor:pointer;
}
   .PRICE_650{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#0a8cd9;
     cursor:pointer;
}
   .PRICE_700{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#3efbea;
     cursor:pointer;
}
   .PRICE_750{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#2dc8ba;
     cursor:pointer;
}
   .PRICE_800{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#76b97d;
    cursor:pointer;
}
   .PRICE_900{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
       padding: 6px 14px 5px 10px;
    background-position: left top;
        
    background-repeat:no-repeat;
    background-color:#20792a;
    cursor:pointer;
}
   .PRICE_1000{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#1c3b4d;
     cursor:pointer;
}   
   .PRICE_1100{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#f6b3bf;
     cursor:pointer;
}   
   .PRICE_1200{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#fe758d;
     cursor:pointer;
}   
   .PRICE_1300{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#ed3f5e;
     cursor:pointer;
}   
   .PRICE_1400{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#d41d3e;
     cursor:pointer;
}   
   .PRICE_1500{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#a1122c;
     cursor:pointer;
}   

   .PRICE_PAID{
    background-image:url(../Images/Seat/seat_icons2.png);
    height: 25px;
        width: 25px;
      padding: 6px 14px 5px 10px;
    background-position: left top;
       
    background-repeat:no-repeat;
     background-color:#bcccd5;
     cursor:pointer;
}  

   